{% extends 'admin/base.html' %}

{% block body  %}
{% if current_user.is_authenticated %}
<h1 class="text-center my-4" style="font-weight: 600; text-shadow: 3px 3px 5px grey; color: #394353">Chào mừng
    {{current_user.ten}} đến với trang chủ quản trị!!!</h1>
<h2 style="text-align:center">Thống kê báo cáo</h2>
<div class="row">
    <div class="col-md-5">
        <div class="col-md-4 col-sm-12">
            <form>
                <div class="form-group">
                    <label>Từ ngày</label>
                    <input type="date" name="from_date" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label>Đến ngày</label>
                    <input type="date" name="to_date" class="form-control" required/>
                </div>
                <div>
                    <input type="submit" value="Lọc dữ liệu" class="btn btn-info"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = []
    let labels
    window.onload = function() {
    const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    }
</script>
{% else %}
<h1 class="text-center my-4" style="font-weight: 600; text-shadow: 3px 3px 5px grey; color: #394353">ĐĂNG NHẬP QUẢN
    TRỊ</h1>
<form method="post" action="{{ url_for('login-admin') }}">
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" name="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu:</label>
        <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password">
    </div>
    <button type="submit" class="btn btn-secondary">Đăng nhập</button>
</form>
{% endif %}
{% endblock %}