{% extends 'layout/base.html' %}
{% set request = request %}
{% block title %}Các chuyến bay{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"/>
{% endblock %}

{% block content %}

<div class="container contact-form" style="width:100%">
    <div class="contact-image">
        <img src="https://res.cloudinary.com/dfzvtpwsd/image/upload/v1670168073/rocket_contact_nfstsp.png"
             alt="rocket_contact"/>
    </div>
    <div style="margin-top: 15%">
        <h2>Các chuyến bay phù hợp</h2>
        <table class="table mt-5 text-center">
            {% if flights %}
            {% set price = request.args.get("price") | float %}

            <tr>
                <th>Hãng máy bay</th>
                <th>Thời gian cất cánh</th>
                <th>Thời gian bay</th>
                <th>Giá vé</th>
                <th>Số lượng người</th>
                <!--                <th>Đơn giá</th>-->
                <th>Đặt vé</th>
            </tr>
            {% for flight, price in flights %}
            <form action="{{ url_for('flight-details')}}">
                <input type="hidden" name="flight_id" value="{{ flight.id }}">
                <input type="hidden" name="price" value="{{ price.gia }}">


                <tr id="flight{{ flight.id }}">
                    {% for airline in airlines %}
                    {% if airline.id == flight.hangmaybay_ma %}
                    <td>{{ airline.ten }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>{{ flight.giodi.strftime("%H:%M:%S %d/%m/%Y") }}</td>
                    <td>{{ flight.thoigianbay }} phút</td>
                    <td>{{ price.gia | float }} VNĐ</td>
                    <td><input class="form-control" type="number" id="numberOfPeople" name="numberOfPeople" min="1"
                               value="{{ request.args.get('numberOfPeople') | default(1) }}" required/></td>
                    <!--                <td>{{ (price.gia | float * request.args.get('numberOfPeople') | float) | abs }} VNĐ</td>-->
                    <!--                <td></td>-->
                    <td>
                        <input type="submit" value="Tìm" class="submit-btn"/>
                    </td>

                </tr>
            </form>
            {% endfor %}
            {% else %}
            <!-- Ko có chuyến-->
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show container mt-3">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong> Không tìm thấy chuyến bay phù hợp!!!
            </div>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}
